/* Reset padding and margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Geologica", "Avenir", "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
}

main {
  display: none;
}

header {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  position: absolute;
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

header em, #intro em {
  font-style: normal;
  font-weight: bold;
  color: crimson;
}

.header-red-box {
  background-color: crimson;
  height: 4rem;
  width: 85%;
}

.pad-title {
  padding-bottom: 4rem;
}

#intro {
  position: relative;
  height: 1920px;
}

.intro-div, .scroll-guide {
  display: none;
  padding: 1rem 1rem;
  background-color: rgba(83, 83, 83, 0.3);
  margin: 20vh 0;
}

.scroll-guide {
  background-color: transparent;
  margin: 0;
  display: block;
  opacity: 0;
}

.fact-1 {
  margin-top: 10vh;
  margin-right: 10vw;
}

.fact-2 {
  margin-left: 10vw;
  text-align: right;
}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.layer-mountains {
  background-image: url("img/mountains.jpg");
  background-size: cover;
}

.layer-trees {
  background-image: url("img/trees.png");
  background-size: cover !important;
  top: 1280px;
  height: 1280px;
}

.layer-shadow {
  background-color: black;
  /* Background image size is 1920px - added 10px covers thin line at bottom of layer-mountains. */
  height: 1930px;
  opacity: 0;
}

#middle {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-style: normal;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .scroll-guide {
    text-align: center;
  }

  .fact-1 {
    margin-left: 10vw;
    margin-right: 45vw;
  }

  .fact-2 {
    margin-left: 45vw;
    margin-right: 10vw;
  }
}

@media (min-width: 992px) {
  header {
    padding: 0 25vw;
    text-align: left;
  }

  .header-red-box {
    margin-right: 12vw;
    width: 100%;
  }

  .fact-1 {
    margin-right: 60vw;
  }

  .fact-2 {
    margin-left: 60vw;
  }
}